## Pengolahan Data Potensi Energi Surya Sebagai Sumber Listrik di Indonesia

Import library yang dibutuhkan

In [2]:
import pandas as pd

### Membuat dataframe Potensi Energi Baru dan Terbarukan

In [7]:
dataframe = pd.read_excel('xeratic data project - Data.xlsx', sheet_name='Potensi Energi Baru dan Terbaru')

In [16]:
df_sorted = dataframe.sort_values(by='No', ascending=True)

In [17]:
df_sorted

   No      Jenis Energi  Potensi (MW)  Kapasitas Terpasang  Pemanfaatan
0   1        Panas Bumi         29544               1438.5      0.04900
1   2             Hydro         75091               4826.7      0.06400
2   3  Mini-micro Hydro         19385                197.4      0.01000
3   4         Bioenergi         32654                167.1      0.05100
4   5             Surya        207898                 78.5      0.00040
5   6             Angin         60647                  3.1      0.00010
6   7    Gelombang Laut         17989                  0.3      0.00002

In [19]:
# save data to csv
#df_sorted.to_csv('Potensi Energi Baru dan Terbaru.csv', index=False)

### Mengambil data rencana pengembangan PLTS

In [22]:
df_rencanaPembangkit = pd.read_excel('xeratic data project - Data.xlsx', sheet_name= 'Rencana Pengembangan Pembangkit')

In [23]:
df_rencanaPembangkit

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14
0,No,Pembangkit - EBT,Satuan,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,Jumlah
1,1,PLTP,MW,136,108,190,141,870,290,123,450,240,808,3.355
2,2,PLTA,MW,400,53,132,87,2.478,327,456,1.611,1.778,1.950,9.272
3,3,PLTM,MW,144,154,277,289,189,43,-,2,13,6,1.118
4,4,PLT Surya,MWp,60,287,1.308,624,1.631,127,148,165,172,157,4.680
5,5,PLT Bayu,MW,-,2,33,337,155,70,-,-,-,-,597
6,6,PLT Biomasa/\nSampah,MW,12,43,88,191,221,20,-,15,-,-,590
7,7,PLT EBT Base,MW,-,-,-,-,-,100,265,215,280,150,1.010
8,8,PLT EBT Peaker,MW,-,-,-,-,-,-,-,-,-,300,300
9,Jumlah,NaN,MW,752,648,2.028,1.670,5.544,978,991,2.458,2.484,3.370,20.923

In [24]:
# Menghapus nama kolom (header) dan menjadikan baris pertama sebagai nama kolom baru
df_rencanaPembangkit.columns = df_rencanaPembangkit.iloc[0]
df_rencanaPembangkit = df_rencanaPembangkit[1:]

In [32]:
df_rencanaPembangkit = df_rencanaPembangkit.loc[df_rencanaPembangkit['Pembangkit - EBT'] == 'PLT Surya']

In [33]:
df_rencanaPembangkit

,No,Pembangkit - EBT,Satuan,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,Jumlah
4,4,PLT Surya,MWp,60,287,1.308,624,1.631,127,148,165,172,157,4.680

In [39]:
df_rencanaPembangkit['2023'] = 1308
df_rencanaPembangkit['2025'] = 1631
df_rencanaPembangkit['Jumlah'] = 4680

C:\Users\syahru\AppData\Local\Temp\ipykernel_5524\134096622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencanaPembangkit['2023'] = 1308
C:\Users\syahru\AppData\Local\Temp\ipykernel_5524\134096622.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencanaPembangkit['2025'] = 1631
C:\Users\syahru\AppData\Local\Temp\ipykernel_5524\134096622.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencanaPembangkit['Jumlah'] = 4680

In [55]:
# save data to csv
# df_rencanaPembangkit.to_csv('Rencana Pengembangan Pembangkit.csv', index=False)

### Mengambil data rencana tambahan PLTS per region

In [162]:
df_totalTambahanPerProvinsi = pd.read_excel('xeratic data project - total tambahan per provinsi.xlsx', sheet_name= 'tambahan total per pulau')

In [163]:
df_totalTambahanPerProvinsi

                          Pulau  2021  2022  2023  2024  2025  Jumlah
0                      Sumatera     3     6    73     3    87     172
1            Jawa, Bali, Madura    12   149   277   558  1240    2236
2                    Kalimantan     9    21   139    33   102     304
3                      Sulawesi     7    12   123    12    22     176
4  Papua, Maluku, Nusa Tenggara    29   100   695    19   180    1023

In [166]:
# save tocsv
#df_totalTambahanPerProvinsi.to_csv('tambahan total per pulau.csv', index=False)

### Membuat dataframe Jumlah PLTS Per provinsi

In [1]:
# Membuat list provinsi
provinsi = [
    'Aceh', 'Bali', 'Bangka Belitung', 'Banten', 'Bengkulu', 'Gorontalo', 'Jakarta Raya',
    'Jambi', 'Jawa Barat', 'Jawa Tengah', 'Jawa Timur', 'Kalimantan Barat', 'Kalimantan Selatan',
    'Kalimantan Tengah', 'Kalimantan Timur', 'Kepulauan Riau', 'Lampung', 'Maluku', 'Maluku Utara',
    'Nusa Tenggara Barat', 'Nusa Tenggara Timur', 'Papua', 'Papua Barat', 'Riau', 'Sulawesi Barat',
    'Sulawesi Selatan', 'Sulawesi Tengah', 'Sulawesi Tenggara', 'Sulawesi Utara', 'Sumatera Barat',
    'Sumatera Selatan', 'Sumatera Utara', 'Yogyakarta'
]

# Membuat DataFrame
df = pd.DataFrame({'Provinsi': provinsi})

# Fungsi untuk menentukan kategori pulau berdasarkan provinsi
def kategori_pulau(provinsi):
    sumatera = ['Aceh', 'Sumatera Utara', 'Sumatera Barat', 'Riau', 'Kepulauan Riau', 'Jambi', 'Bengkulu', 'Sumatera Selatan', 'Bangka Belitung', 'Lampung']
    jawa_bali_madura = ['Banten', 'Jakarta Raya', 'Jawa Barat', 'Jawa Tengah', 'Yogyakarta', 'Jawa Timur','Bali']
    kalimantan = ['Kalimantan Tengah', 'Kalimantan Timur', 'Kalimantan Selatan', 'Kalimantan Barat', 'Kalimantan Utara']
    sulawesi = ['Sulawesi Utara', 'Gorontalo', 'Sulawesi Selatan', 'Sulawesi Tengah', 'Sulawesi Tenggara', 'Sulawesi Barat']
    papua_maluku_ntt = ['Papua Tengah', 'Papua Pegunungan', 'Papua Selatan', 'Papua Barat Daya','Papua','Papua Barat' ,'Nusa Tenggara Barat', 'Nusa Tenggara Timur', 'Maluku', 'Maluku Utara']

    if provinsi in sumatera:
        return 'Sumatera'
    elif provinsi in jawa_bali_madura:
        return 'Jawa, Bali, Madura'
    elif provinsi in kalimantan:
        return 'Kalimantan'
    elif provinsi in sulawesi:
        return 'Sulawesi'
    elif provinsi in papua_maluku_ntt:
        return 'Papua, Maluku, NTT'
    else:
        return 'Lainnya'

# Menambahkan kolom "Kategori Pulau" ke DataFrame
df['Kategori Pulau'] = df['Provinsi'].apply(kategori_pulau)

# Menentukan "Jumlah Tambahan PLTS" berdasarkan kategori pulau
df['Jumlah Tambahan PLTS'] = df['Kategori Pulau'].map({
    'Sumatera': 172,
    'Jawa, Bali, Madura': 2236,
    'Kalimantan': 304,
    'Sulawesi': 176,
    'Papua, Maluku, NTT': 1023,
    'Lainnya': 0  # Jika provinsi tidak masuk dalam kategori di atas
})

# Mencetak DataFrame yang telah diubah
print(df)

               Provinsi      Kategori Pulau  Jumlah Tambahan PLTS
0                  Aceh            Sumatera                   172
1                  Bali  Jawa, Bali, Madura                  2236
2       Bangka Belitung            Sumatera                   172
3                Banten  Jawa, Bali, Madura                  2236
4              Bengkulu            Sumatera                   172
5             Gorontalo            Sulawesi                   176
6          Jakarta Raya  Jawa, Bali, Madura                  2236
7                 Jambi            Sumatera                   172
8            Jawa Barat  Jawa, Bali, Madura                  2236
9           Jawa Tengah  Jawa, Bali, Madura                  2236
10           Jawa Timur  Jawa, Bali, Madura                  2236
11     Kalimantan Barat          Kalimantan                   304
12   Kalimantan Selatan          Kalimantan                   304
13    Kalimantan Tengah          Kalimantan                   304
14     Kalimantan Timur          Kalimantan                   304
15       Kepulauan Riau            Sumatera                   172
16              Lampung            Sumatera                   172
17               Maluku  Papua, Maluku, NTT                  1023
18         Maluku Utara  Papua, Maluku, NTT                  1023
19  Nusa Tenggara Barat  Papua, Maluku, NTT                  1023
20  Nusa Tenggara Timur  Papua, Maluku, NTT                  1023
21                Papua  Papua, Maluku, NTT                  1023
22          Papua Barat  Papua, Maluku, NTT                  1023
23                 Riau            Sumatera                   172
24       Sulawesi Barat            Sulawesi                   176
25     Sulawesi Selatan            Sulawesi                   176
26      Sulawesi Tengah            Sulawesi                   176
27    Sulawesi Tenggara            Sulawesi                   176
28       Sulawesi Utara            Sulawesi                   176
29       Sumatera Barat            Sumatera                   172
30     Sumatera Selatan            Sumatera                   172
31       Sumatera Utara            Sumatera                   172
32           Yogyakarta  Jawa, Bali, Madura                  2236

In [2]:
# save data to csv
#df.to_csv('Provinsi.csv', index=False)

### Mengambil data ketersediaan lahan hutan per provinsi

In [3]:
df_lahan = pd.read_excel('Xeratic project - luas lahan.xlsx', sheet_name='ketersediaan lahan hutan')

Pemanfaatan lahan untuk PLTS diasumsikan menggunakan lahan kosong yang tersedia di setiap provinsi, yang berasal dari 1% luas hutan di setiap provinsi

In [5]:
df_lahan['Potensi lahan PLTS'] = df_lahan['Luas Hutan (ha)']*1/100

In [7]:
df_lahan['Provinsi'] = df_lahan['Provinsi'].str.title()

In [8]:
# Buat kamus untuk mengganti nama beberapa baris berdasarkan label
provinsi_baru = {
    'Dki Jakarta': 'Jakarta Raya',
    'Kep. Riau': 'Kepulauan Riau',
    'Kep. Bangka Belitung': 'Bangka Belitung',
    'Di Yogyakarta': 'Yogyakarta',    
}

# Gunakan metode rename() untuk mengganti nama baris berdasarkan label
df_lahan['Provinsi'] = df_lahan['Provinsi'].replace(provinsi_baru)

In [9]:
# Identifikasi baris yang ingin dihapus berdasarkan indeksnya
baris_yang_dihapus = [23, 34]

# # Gunakan metode drop() untuk menghapus baris
df_lahan = df_lahan.drop(labels=baris_yang_dihapus)

konversi lahan ke potensi luas plts berdasarkan spesifikasi panel surya: 
1 MW = 1,5 Ha

In [11]:
df_lahan['Potensi Kapasitas PLTS berdasarkan luas lahan (MW)'] = df_lahan['Potensi lahan PLTS']/1.5

In [16]:
# save data to csv
# df_lahan.to_csv('Potensi luas lahan.csv', index=False)